<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Auto Archive checked</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ecb7d6">  <td>17/07/07 00:03:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@2fd6cf0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@193842462</td>   <td></td> </tr>
<tr bgcolor="ecb7d6">  <td>17/07/07 00:04:27</td>   <td>44575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@4807e0d7]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@193842462</td>   <td></td> </tr>
<tr bgcolor="ecb7d6">  <td>17/07/07 00:06:13</td>   <td>150723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@2f4f33b4]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@193842462</td>   <td></td> </tr>
<tr bgcolor="ecb7d6">  <td>17/07/07 00:02:22</td>   <td>-80423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@2fd6cf0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@193842462</td>   <td></td> </tr>
<tr bgcolor="ecb7d6">  <td>17/07/07 00:03:42</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@4807e0d7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@193842462</td>   <td></td> </tr>
<tr bgcolor="ecb7d6">  <td>17/07/07 00:04:27</td>   <td>44606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@2f4f33b4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@193842462</td>   <td></td> </tr>
<tr bgcolor="d971d9">  <td>17/07/07 00:02:39</td>   <td>-63238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoArchiveNFbids.tc_RHW_002_autoArch()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@2fd6cf0]">tc_RHW_002_autoArch</td> 
  <td>main@193842462</td>   <td></td> </tr>
<tr bgcolor="736f72">  <td>17/07/07 00:04:00</td>   <td>18205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoAchiveFbids.tc_RHW_014_autoArch()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@4807e0d7]">tc_RHW_014_autoArch</td> 
  <td>main@193842462</td>   <td></td> </tr>
<tr bgcolor="f376a3">  <td>17/07/07 00:04:45</td>   <td>62377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoArchNonRemFbid.tc_nonRemFbid()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@2f4f33b4]">tc_nonRemFbid</td> 
  <td>main@193842462</td>   <td></td> </tr>
</table>
