<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac7162">  <td>20/01/01 17:07:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BpcopsSevZeroTestNew.run()[pri:0, instance:com.bret.testcases.bpcops.BpcopsSevZeroTestNew@748741cb]">run</td> 
  <td>main@508378341</td>   <td></td> </tr>
<tr bgcolor="86f9d5">  <td>20/01/01 17:06:26</td>   <td>-48740</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUpBeforeTestCase()[pri:0, instance:com.bret.testcases.bpcops.BpcopsSevZeroTestNew@748741cb]">&gt;&gt;setUpBeforeTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@508378341</td>   <td></td> </tr>
<tr bgcolor="ac7162">  <td>20/01/01 17:07:15</td>   <td>23</td> <td>&nbsp;</td><td title="&lt;&lt;BpcopsSevZeroTestNew.tearDown()[pri:0, instance:com.bret.testcases.bpcops.BpcopsSevZeroTestNew@748741cb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@508378341</td>   <td></td> </tr>
<tr bgcolor="86f9d5">  <td>20/01/01 17:07:47</td>   <td>32514</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDownAfterTestCase()[pri:0, instance:com.bret.testcases.bpcops.BpcopsSevZeroTestNew@748741cb]">&lt;&lt;tearDownAfterTestCase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@508378341</td>   <td></td> </tr>
</table>
