<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Bid cheked after CRON job.</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80d0b0">  <td>17/07/07 00:12:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@2f8ab088]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1874089834</td>   <td></td> </tr>
<tr bgcolor="78b2a3">  <td>17/07/07 00:12:36</td>   <td>16189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoArchiveNFbids.tc_RHW_002_autoArch()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@2f8ab088]">tc_RHW_002_autoArch</td> 
  <td>main@1874089834</td>   <td></td> </tr>
<tr bgcolor="80d0b0">  <td>17/07/07 00:13:40</td>   <td>80641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@2f8ab088]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1874089834</td>   <td></td> </tr>
<tr bgcolor="80d0b0">  <td>17/07/07 00:13:40</td>   <td>80673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@19252c78]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1874089834</td>   <td></td> </tr>
<tr bgcolor="c8bc8a">  <td>17/07/07 00:13:58</td>   <td>99050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoAchiveFbids.tc_RHW_014_autoArch()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@19252c78]">tc_RHW_014_autoArch</td> 
  <td>main@1874089834</td>   <td></td> </tr>
<tr bgcolor="80d0b0">  <td>17/07/07 00:14:21</td>   <td>121313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@19252c78]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1874089834</td>   <td></td> </tr>
<tr bgcolor="80d0b0">  <td>17/07/07 00:14:21</td>   <td>121328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@1e8372d1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1874089834</td>   <td></td> </tr>
<tr bgcolor="8eead9">  <td>17/07/07 00:14:41</td>   <td>141212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoArchNonRemFbid.tc_nonRemFbid()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@1e8372d1]">tc_nonRemFbid</td> 
  <td>main@1874089834</td>   <td></td> </tr>
<tr bgcolor="80d0b0">  <td>17/07/07 00:16:09</td>   <td>229775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@1e8372d1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1874089834</td>   <td></td> </tr>
</table>
