<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Bid checked after CRON job.</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c2ab6c">  <td>17/07/28 20:40:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@65ce70c5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@658796603</td>   <td></td> </tr>
<tr bgcolor="64fffc">  <td>17/07/28 20:40:22</td>   <td>15346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoArchiveNFbids.tc_RHW_002_autoArch()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@65ce70c5]">tc_RHW_002_autoArch</td> 
  <td>main@658796603</td>   <td></td> </tr>
<tr bgcolor="c2ab6c">  <td>17/07/28 20:41:33</td>   <td>86914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchiveNFbids@65ce70c5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@658796603</td>   <td></td> </tr>
<tr bgcolor="c2ab6c">  <td>17/07/28 20:41:33</td>   <td>86932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@eb4d977]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@658796603</td>   <td></td> </tr>
<tr bgcolor="f46cf7">  <td>17/07/28 20:41:47</td>   <td>100998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoAchiveFbids.tc_RHW_014_autoArch()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@eb4d977]">tc_RHW_014_autoArch</td> 
  <td>main@658796603</td>   <td></td> </tr>
<tr bgcolor="c2ab6c">  <td>17/07/28 20:42:18</td>   <td>132022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoAchiveFbids@eb4d977]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@658796603</td>   <td></td> </tr>
<tr bgcolor="c2ab6c">  <td>17/07/28 20:42:18</td>   <td>132028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BRETmainTestNGbase.setUp()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@3f0c0cb9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@658796603</td>   <td></td> </tr>
<tr bgcolor="7b9487">  <td>17/07/28 20:42:30</td>   <td>143544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AutoArchNonRemFbid.tc_nonRemFbid()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@3f0c0cb9]">tc_nonRemFbid</td> 
  <td>main@658796603</td>   <td></td> </tr>
<tr bgcolor="c2ab6c">  <td>17/07/28 20:43:36</td>   <td>209608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BRETmainTestNGbase.closeBrowser()[pri:0, instance:com.BRET.testcases.HWRemediation.AutoArchNonRemFbid@3f0c0cb9]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@658796603</td>   <td></td> </tr>
</table>
